<h1>Edit Question</h1>

<%= render 'form'  %>

<!-- If you pass a persisted ActiveRecord object to the 'form_for' (in the DB), then 'form_for' will submit a 'PATCH' request (instead of POST) using a hidden field technique and the URL for the form will be, in this case the 'UPDATE' action URL which is in our case 'question_path(@question)' -->
