<h1>Awesome Answers</h1>

<%= link_to 'New Question', new_question_path  %>

<!-- <img src='/Nicolas-Cage-Wallpapers.jpeg' style='width: 100%'> -->

<!-- this expects to have a file called 'niccage.jpeg' in the 'public' folder-->
<!-- <%= image_tag '/niccage.jpeg', style: 'width: 100%'%> -->

<!-- this  expects to have a file called 'niccage.jpeg' in /app/assets/images -->
<%= image_tag 'niccage.jpg', style: 'width: 100%' %>
